.intro-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    vertical-align: middle;
  }
  
  .intro-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .intro-option {
    display: flex;
    width: 410px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
  
  
  .login-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  .login-text {
    color: var(--orange-normal, #fc7201) !important;
    letter-spacing: 0.4px;
    font-weight: 400 !important;
  }
  
  .intro-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .intro-option {
      width: 320px;
    }
  
    .intro-option-box {
      padding: 12px 16px;
    }
  }
  