.username-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    vertical-align: middle;
    width: 625px;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  
  .create-user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .username-form {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    align-self: stretch;
  }
  